# local package
-e .

# external requirements
setuptools~=68.0.0
numpy~=1.26.3
pandas~=2.2.1
scikit-learn
jupyter
xlrd
openpyxl
pathlib~=1.0.1
click~=8.1.7
python-dotenv~=0.21.0
psycopg2-binary
matplotlib